

header {
    height: 20%;
    background-color: #00B0F0;
    background-size: contain;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #01065270;
}

main {
    height: 60%;
    background-color: black;
    color: white;
   
}
#deals{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.image-caption{
    text-align: center;
}

h1 {
    text-align: center;
    font: bold 40px impact;
}

/*.image-slider{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #00B050;
    animation: slide 5s infinite;
    overflow: hidden; 
}*/
.image-slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: #00B050;
    overflow: hidden; /* Added overflow property to hide the overflowed images */
}

.image-slider img {
    transition: transform 0.5s ease; /* Added transition property for smooth sliding */
}

.image-slider:hover img {
    transform: translateX(-50%); /* Added transform property for sliding effect on hover */
}

section {
    height: 25%;
    font: 20px sans-serif;
    /* background-color: #7030A0; */
}
.dual-column {
    width: 50%;
    padding-left: 10%;
    /*background-color: #FF0000;*/
}

#dual-container {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    

}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    background-color: #595959;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}